{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load filters %}

{% block pack %}
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick-theme.css"/>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick.min.js"></script>
  <link rel="stylesheet" href="{% static 'Css/customSlick.css' %}">
{% endblock pack %}


{% block content %}
<div class="body">
    <div class="container-fluid">
        <div class="row">
            <div class="left-container col-md-3 justify-content-center">
                <img src="{{ detail.bookImage.url }}" alt="image of book {{myManga.title}}" class="book-detail-image">

                <div class="mfn">
                    <a href="{{ detail.book_MFN }}">View</a>
                </div>
                
                <div class="wish">
                    <div id='wishlist{{detail.book_id}}' hx-post = "/wishCheck_post/" hx-vals = '{"book_id": {{detail.book_id}}}' hx-trigger="load" hx-target='#wishlist{{detail.book_id}}' hx-swap = 'innerHTML'>
                        {% comment %} <button hx-post = "/wishList_post/" hx-vals = '{"book_id": {{detail.book_id}}}' hx-trigger="click delay:0.25s" onclick='savingList(this)'></button> {% endcomment %}
                    </div>
                </div>

                <div id="rating">
                    <form action="">
                        <div class="rating">
                            <p><span class="star-rating">
                                {% for i in "12345" %} 
                                    {% if i == rating %}
                                        <label for="rate-{{i}}" style="--i: {{i}}"><i class="fa fa-star" title="{{i}} star"></i></label>
                                        <input class="star" type="radio" name="rating" id="rate-{{i}}" hx-vals='{"rate": {{i}}, "book_id": {{detail.book_id}}}' hx-post ="/rating_post/" hx-trigger="click delay:0.25s" hx-target="#clear-rating" hx-swap="outerHTML" checked>
                                    {% else %}
                                        <label for="rate-{{i}}" style="--i: {{i}}"><i class="fa fa-star" title="{{i}} star"></i></label>
                                        <input type="radio" name="rating" id="rate-{{i}}" hx-vals='{"rate": {{i}}, "book_id": {{detail.book_id}}}' hx-post ="/rating_post/" hx-trigger="click delay:0.25s" hx-target="#clear-rating" hx-swap="outerHTML">
                                    {% endif %}
                                {% endfor %}    
                            </span></p>
                        </div>
                        <div class="clear_rating">
                            <input style="display: none;" type="button"  name="clear" id="clear-rating" >
                        </div>
                    </form>
                </div>
            </div>

            <div class="right-container col-md-auto">
                <h1 class="book-tittle">{{detail.book_title}}</h1>
                <p class="book-info"><strong>Author:</strong> {{detail.book_author}}</p>
                <p class="book-info"><strong>Position: </strong> {{ detail.book_position }}</p>
                <p class="book-info"><strong>Publish: </strong> {{ detail.book_publish }}</p>
                <p class="book-info"><strong>MFN: </strong> {{ detail.book_MFN }}</p>

                <div class="aveRating">
                    <span class="product-rating">{{ averRate }}</span><span>/5 <span class="fa fa-star aveRating-start"></span> ({{ countRate }} - {{ detail.book_view }} lượt xem)</span>
            
                </div>
            </div>
        </div>
    </div>
    <div class="suggestBook">
        <div class="container-fluid justify-content-center">
            {% comment %} book-slider la phan se slide {% endcomment %}
            {% comment %} Chinh sua tren file customSlick.css và customSlick.js {% endcomment %}
            <h5 ><a id="container-header" href="#">Sách tương tự</a></h5>
            <div class="book-slider">
                {% for book in bookList reversed %}
                <div class="book-item">
                    <a href="/book/detail/id={{ book.book_id|subtract:3000 }}"><img class="book-image" src="{{ book.bookImage.url }}" alt="{{ book.book_title }}"></a>
                    <h5 class="mt-2">{{ book.book_title }}</h5>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}


{% block scripts %}
<script src="https://unpkg.com/htmx.org@2.0.2/dist/htmx.js" integrity="sha384-yZq+5izaUBKcRgFbxgkRYwpHhHHCpp5nseXp0MEQ1A4MTWVMnqkmcuFez8x5qfxr"crossorigin="anonymous"></script> 
<script>
    function hidebutton(button){
        button.type = 'hidden'
    }
    function savingList(button){
        button.value ='saving...'
    } 
</script>
<script src="{% static 'Js/customSlick.js' %}"></script>

<script>
document.body.addEventListener('htmx:configRequest', function(evt) {
    // Kiểm tra xem yêu cầu có đến từ nút wishList hay không
    let target = evt.target;
    if (target && target.classList.contains('clear_rating')) {
        let hxVals = JSON.parse(target.getAttribute('hx-vals'));
        hxVals["current_url"] = window.location.href;
        target.setAttribute('hx-vals', JSON.stringify(hxVals));
        evt.detail.parameters = hxVals;
    }
});
</script>


{% endblock scripts %}
    