{% extends 'base.html' %}


{% block content %}
    <h2>Book Detail</h2>
    <ul>
        <li>Title: {{detail.book_title}}</li>
        <li>Author: {{detail.book_author}}</li>
        <li>Position: {{ detail.book_position }}</li>
        <li>Publish: {{ detail.book_publish }}</li>
        <li><img src= "{{ detail.bookImage.url }}" alt="image of manga {{myManga.title}}"></li>
    </ul>
    <div>
        <h3>The loai</h3>
        
        {% for topic in topicList %}
            <a href="">{{ topic.topic_id.topic_name }}</a>
            <br>
        {% endfor %}
    </div>
{% endblock content %}
    