<footer id="footer">
    <!-- container -->
    <div class="container-fluid justify-content-center">
        <div class="footer">
            <h3 class="footer-title">About the Project</h3>
            <p>This site is for CIT book recommendation. On the basis of user's behavior it recommends the book.
            Users can also search and rate the book. We made this site as our college term project. It will be
            upgraded in future. </p>
            <ul class="footer-links">
                <li><a href="#">&nbsp;<i class="fa fa-map-marker"></i>&nbsp;Can Tho University, Ninh Kieu, Can Tho.</a></li>
                {% comment %} <li><a href="#"><i class="fa fa-phone"></i>+91 9106473664</a></li> {% endcomment %}
                <li><a href="#"><i class="fa fa-envelope-o"></i>khang1@gmail.com</a></li>
            </ul>
        </div>
    </div>
    <!-- /container -->

    <!-- bottom footer -->
    <div id="bottom-footer" class="section">
        <div class="container-fluid justify-content-center">
            <div class="bottom-footer">

                <span class="copyright">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This website template
                    is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by our team{% comment %} <a href="https://colorlib.com"
                    target="_blank">TDRCE Team</a> and website back-end is made with <i class="fa fa-heart-o"
                    aria-hidden="true"></i> by Trupti Langalia. {% endcomment %}
                </span>
            </div>
        </div>
    </div>
</footer>