<header>
    <!-- TOP HEADER -->
    <div id="top-header">
        <div class="container">
            <ul class="header-links pull-left">
                <li><a href="/">CIT LIBRARY</li>
                {% comment %} <li><a href="#"><i class="fa fa-phone"></i> +91 911111113664</a></li> {% endcomment %}
                <li><a href="#"><i class="fa fa-envelope-o"></i> Khang1@gmail.com</a></li>
                <li><a href="#"><i class="fa fa-map-marker"></i> Ninh Kieu, Can Tho</a></li>
            </ul>
            
            <ul class="header-links pull-right">
                <li class="active"><a href="{% url 'index' %}">Home</a></li>
                <li></li>
                <!--<li><a href="#"><i class="fa fa-dollar"></i> USD</a></li>-->
                <!-- Add navbar code to header -->
                {% comment %} {% include 'navbar.html' %} {% endcomment %}
            </ul>
        </div>
    </div>
</header>

<!--
     <header class="site-header">
         <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
           <div class="container">
             <a </a>
             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
             </button>
             <div class="collapse navbar-collapse" id="navbarToggle">
                 {% if current_user.is_authenticated %}
                   <div class="navbar-nav mr-auto">
                   <a class="nav-item nav-link" href="">Home</a>
                   <a class="nav-item nav-link" href="#">Upload Book</a>
                   <a class="nav-item nav-link" href="#">Delete Book</a>
                   <a class="nav-item nav-link" href="#">Contact Us</a>
                   </div>
                Navbar Right Side 
                   <div class="navbar-nav">
                   <a class="nav-item nav-link" href="#">Account</a>
                   <a class="nav-item nav-link" href="#">Logout</a>
                   </div>
               {% else %}
                   <div class="navbar-nav mr-auto">
                   <a class="nav-item nav-link" href="">Home</a>
                   </div>
                   <div class="navbar-nav">      
                     <a class="nav-item nav-link" href="/login">Login</a>
                     <a class="nav-item nav-link" href="/register">Register</a>
                   </div>
               {% endif %}
               </div>
             </div>
           </div>
         </nav>
       </header>-->