{% extends "base.html" %}
{% load static %}


{% block content %}
<div id="login">
    <div class="container-fluid">
        <div class="login-overall row justify-content-center align-items-center" style="height:auto">
            <div class="left-login col-md-5">
                <h3 class="card-title text-left">Login</h3><br>
                <p class="card-description text-left">Login to use your CIT Library card to see suggested books from our website</p>
            </div>

            <div class="right-login col-md-4">
                <div class="card">
                    <article class="card-body">
                        <form class="login-form" action="{% url 'login' %}" method="POST">
                            <div class="form-group">

                                {% csrf_token %} 

                                <h6>Please enter your email and password to access your CIT Library account.</h6><br>
                                <span>Email or  Username:</span>
                                <div class="input-group mb-3">
                                    <input name="username" class="form-control" placeholder="Email or Username" type="text" required>
                                </div>

                                <span>Password:</span>
                                <div class="input-group mb-3">  
                                    <input name="password" class="form-control" placeholder="Password" type="password" required>
                                </div>
                                
                                <div class="form-group">
                                    <button type="submit" class="login-btn btn btn-primary btn-block"> Login  </button>
                                </div>
                                <br>
                                <div class="other">
                                    <p>Don't have an account? <a class="link-register" href="{% url 'register' %}">Sign up now</a></p>
                                </div>
                            </div>
                        </form>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>

<footer id="footer">
    <div id="bottom-footer" class="section">
        <div class="container-fluid justify-content-center">
            <div class="bottom-footer">

                <span class="copyright">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This website template
                    is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by our team{% comment %} <a href="https://colorlib.com"
                    target="_blank">TDRCE Team</a> and website back-end is made with <i class="fa fa-heart-o"
                    aria-hidden="true"></i> by Trupti Langalia. {% endcomment %}
                </span>
            </div>
        </div>
    </div>
</footer>
    
    {% comment %} <div class="limiter">

        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-pic js-tilt" data-tilt>
                    <img src="{% static 'img/img-01.png' %}" alt="IMG">
                </div>

                <form action="{% url 'login'%}" class="login100-form validate-form" method="POST">
                    <span class="login100-form-title">
                        Member Login
                    </span>
            
    
        <!-- <div class= "loginbox">
        <img src="images/icon.jpeg" class="gjgk">
            <h1>Login Here</h1>
 -->            
                <!-- <form action="{% url 'login' %}"   method="POST"> -->

                {% csrf_token %} 
    
                <div class="wrap-input100 validate-input" >
                <input type="text"   class="input100" placeholder="Enter Email Id" name="username" required>
                <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </span>
                    </div>
                <!-- <p>Password</p><br> -->
                <div class="wrap-input100 validate-input">
                <input type="password" class="input100" name="password" placeholder="Enter Password">
                <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                </div>
                    <div class="container-login100-form-btn">
                <input type="submit"  class="login100-form-btn"  value="login"><br>
            </div>
        </form>


                
                    <div class="text-center p-t-136">
                        <a class="txt2" href="{% url 'register' %}">
                            Create your Account
                            <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                        </a>
                    </div>
               <!--<a href="abcc.html" target="_blank"><p>forgotten password?</p></a><br> 
                <a href="register.html" target="_blank"><p>Don't have an account?</p></a>-->
        
            
            <div>
                {% for message in messages %} 
                <h3 ><font color=red;>{{message}}</font><h3>
        
                {% endfor %}
            </div>
        </div>  
    </div>
</div>     {% endcomment %}
{% endblock content %}


{% block scripts %}
<script>
    $('#myForm').submit(function(){
        var action = $(this).attr('action');
        var that = $(this);
        $.ajax({
            url: action,
            type: 'POST',
            data: that.serialize()
            ,success: function(data){
                console.log('Success!');
            }
        });
        return false;
    });
</script>
{% endblock scripts %}
    