{% load static %}
{% load widget_tweaks %}
<div id="navbar">
    <!-- container -->
    <div class="container">
            <!-- row -->
            <div class="row justify-content-md-center">
                <!-- LOGO -->
                <div class="col-md-3">
                      <div class="navbar-logo">
                            <a href="/" class="logo">
                              <img  style="height: 70px; width:70px; border-radius: 50%; margin-top: 15%"  src="/static/img/imgBook/logoCIT.jpg" alt="error"></a>
                      </div>
                    <br/>
                      <span><a href="/" style="color: #000000; text-decoration: none; font-size: 26px; font-family: 'Roboto Slab', serif;
                      font-weight: 500; margin-left: -60px">CIT LIBRARY</a></span>
                </div>
                
                <!-- Thư viện -->
                <div class="col-md-auto clearfix">
                    <div class="navbar-ctn">
                        <!-- Wishlist -->
                        <div>
                            <a href="#">
                                <span>Thư viện</span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-auto clearfix">
                        <!-- Thể loại -->
                    <div class="navbar-ctn">
                        <div class="dropdown">                           
                            <a class="dropdown-toggle" href="/wishlist">
                                <span>Thể Loại Sách</span>

                            </a>
                        </div>
                    </div>
                </div>      
                    
                {% comment %} Đây là form của thanh tìm kiếm {% endcomment %}
                <div class="col-md-4">
                    <div class="navbar-search">
                        <form action="{% url 'search_slug' %}", method='GET'>
                        {{ formSearch.skey.label }}
                        {% render_field formSearch.skey class='search-bar' hx-post="/search_post/" hx-trigger="keyup changed delay:500ms" hx-target='#ssuggest' placeholder="Enter title"%} 
                        <input type="submit" value="Search">
                        </form>
                    </div>
                </div>
                {% comment %} danh sach goi y dua theo tu khoa {% endcomment %}
                <div>
                    <ul id="ssuggest">

                    </ul>
                </div>
                <div>
                    <li><font color="red";>Welcome,{{request.}}</font></li>
                    <li><a href="{% url 'logout'%}">logout</a></li>  
                </div>
            </div>
    </div>
</div>