{% extends 'base.html' %}
{% load widget_tweaks %}

{% block navbar %}
    <form action="">
        {% csrf_token %}
            {{ form.skey.label }}
            {% render_field form.skey class='search-bar' hx-post="/search_post/" hx-trigger="keyup changed delay:500ms" hx-target='#ssuggest' placeholder="Enter title"%}
        <input type="submit" value="Search">
    </form>
    <div>
        <ul id="ssuggest">
            
        </ul>
    </div>
{% endblock navbar %}



{% block scripts %}
    <script src="https://unpkg.com/htmx.org@2.0.2/dist/htmx.js" integrity="sha384-yZq+5izaUBKcRgFbxgkRYwpHhHHCpp5nseXp0MEQ1A4MTWVMnqkmcuFez8x5qfxr" crossorigin="anonymous"></script>
{% endblock scripts %}
    