{% load custom_filters %}
<div id="book-list">
        <ul id="book-form">
            {% for book in page_obj %}
                <div class="book-found">
                    <li>
                        <div class="row">
                            <div class="left-content col-md-2 justify-content-center">
                                <a href="/book/detail/id={{book.book_id|add:'-3000'}}"><img class="book-image" src="{{ book.bookImage.url }}" alt="{{ book.book_title }}"></a>
                            </div>

                            <div class="middle-content col-md-7">
                                <a class="book-name" href="/book/detail/id={{book.book_id|add:'-3000'}}">{{ book.book_title }}</a> 
                                <p class="book-author">by {{book.book_author}}</p>
                                <p class="book-published">Xuất bản: {{ book.book_publish }}</p>
                                
                                <div class="aveRating">
                                    <span class="product-rating">{{ averRates|get_raw_number:book.book_id }}</span><span>/5 
                                    <span class="fa fa-star aveRating-start"></span> 
                                    ({{ countRates|get_raw_number:book.book_id }} - {{ book.book_view }} lượt xem)</span>
                                </div>
                            </div>

                            <div class="right-content col-md-3">
                                <div id='wishlist{{book.book_id}}' hx-post = "/wishCheck_post/"  hx-vals = '{"book_id": {{book.book_id}}}' hx-trigger="load" hx-target="#wishlist{{book.book_id}}">
                                    <button hx-post = "/wishList_post/" hx-vals = '{"book_id": {{book.book_id}}}' hx-trigger="click delay:0.25s">...</button>
                                </div>
                            </div>
                    </li><br>
                </div>
            {% endfor %}
        </ul> 
        <div id="pagination">
        {% comment %} {% include 'pagintion_partial.html' %} {% endcomment %}
        {% include 'pagePagnition.html' %}
        </div>
    </div>