<header>
    <!-- TOP HEADER -->
    <div id="top-header">
        <div class="container">
            <ul class="header-links pull-left">
                <li><a href="/">CIT LIBRARY</li>
                {% comment %} <li><a href="#"><i class="fa fa-phone"></i> +91 911111113664</a></li> {% endcomment %}
            </ul>
            
            <ul class="header-links pull-right">
                
                {% if user.is_authenticated %}
                  <li><a href="{% url 'profile' %}" style="color: white">Xin chào {{user.username}}</a></li>
                  <li class="active"><a href="{% url 'index' %}">Home</a></li>
                  <li><a href="{% url 'logout' %}"><i class="fa fa-user-o"></i> Đăng xuất</a></li>
                {% else %}
                  <li style="color: white">Xin chào Guest   </li>
                  <li class="active"><a href="{% url 'index' %}">Home</a></li>
                  <li><a href="{% url 'login' %}"><i class="fa fa-user-o"></i> Đăng nhập</a></li>  
                {% endif %}
                  
            </ul>
        </div>
    </div>
</header>

<!--
     <header class="site-header">
         <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
           <div class="container">
             <a </a>
             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
             </button>
             <div class="collapse navbar-collapse" id="navbarToggle">
                 {% if current_user.is_authenticated %}
                   <div class="navbar-nav mr-auto">
                   <a class="nav-item nav-link" href="">Home</a>
                   <a class="nav-item nav-link" href="#">Upload Book</a>
                   <a class="nav-item nav-link" href="#">Delete Book</a>
                   <a class="nav-item nav-link" href="#">Contact Us</a>
                   </div>
                Navbar Right Side 
                   <div class="navbar-nav">
                   <a class="nav-item nav-link" href="#">Account</a>
                   <a class="nav-item nav-link" href="#">Logout</a>
                   </div>
               {% else %}
                   <div class="navbar-nav mr-auto">
                   <a class="nav-item nav-link" href="">Home</a>
                   </div>
                   <div class="navbar-nav">      
                     <a class="nav-item nav-link" href="/login">Login</a>
                     <a class="nav-item nav-link" href="/register">Register</a>
                   </div>
               {% endif %}
               </div>
             </div>
           </div>
         </nav>
       </header>-->