{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load filters %}


{% block pack %}
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick-theme.css"/>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick.min.js"></script>
  <link rel="stylesheet" href="{% static 'Css/customSlick.css' %}">
  
  <style>
    /* Background styling for index page */
    body {
      background: linear-gradient(to bottom, #f8f9fa, #e7eff7);
      background-attachment: fixed;
    }
    
    .body {
      background-color: rgba(255, 255, 255, 0.7);
      padding: 30px;
      border-radius: 12px;
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
      margin: 20px auto;
      max-width: 1200px;
    }
    
    /* Optional pattern overlay for more texture */
    .body:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('{% static "img/pattern.png" %}');
      background-size: 200px;
      opacity: 0.03;
      pointer-events: none;
    }
    
    /* Container header styling */
    #container-header {
      color: #2c3e50;
      font-size: 24px;
      font-weight: 600;
      position: relative;
      padding-left: 15px;
      margin-bottom: 20px;
      display: inline-block;
      text-decoration: none;
      border-left: 4px solid #3498db;
    }
    
    #container-header:hover {
      color: #3498db;
    }
  </style>
{% endblock pack %}
 


{% block content %}
<div class="body">
  <div class="container-fluid justify-content-center">
    {% comment %} book-slider la phan se slide {% endcomment %}
    {% comment %} Chinh sua tren file customSlick.css và customSlick.js {% endcomment %}
    <h5 ><a id="container-header" href="/categoryFilter/Trending/1">Trending Books</a></h5>
    <div class="book-slider">
      {% for book in bookList.popular %}
      <div class="book-item" onclick="window.location.href='/book/detail/id={{ book.book_id|subtract:3000 }}'">
          <img class="book-image" src="{{ book.bookImage.url }}" alt="{{ book.book_title }}">
          <h5 class="mt-2">{{ book.book_title }}</h5>
      </div>
      {% endfor %}
    </div>
    <h5 ><a id="container-header" href="/categoryFilter/Ngoại Văn/1">Ngoại Văn</a></h5>
    <div class="book-slider">
      {% for book in bookList.topFl %}
      <div class="book-item" onclick="window.location.href='/book/detail/id={{ book.book_id|subtract:3000 }}'">
          <img class="book-image" src="{{ book.bookImage.url }}" alt="{{ book.book_title }}">
          <h5 class="mt-2">{{ book.book_title }}</h5>
      </div>
      {% endfor %}
    </div>
    <h5 ><a id="container-header" href="/categoryFilter/Tiếng Việt/1">Sách Tiếng Việt</a></h5>
    <div class="book-slider">
      {% for book in bookList.topVn %}
      <div class="book-item" onclick="window.location.href='/book/detail/id={{ book.book_id|subtract:3000 }}'">
          <img class="book-image" src="{{ book.bookImage.url }}" alt="{{ book.book_title }}">
          <h5 class="mt-2">{{ book.book_title }}</h5>
      </div>
      {% endfor %}
    </div>
  </div>
</div>   

{% endblock content %}

{% block scripts %}
<script src="{% static 'Js/customSlick.js' %}"></script>
<script src="https://unpkg.com/htmx.org@2.0.2/dist/htmx.js" integrity="sha384-yZq+5izaUBKcRgFbxgkRYwpHhHHCpp5nseXp0MEQ1A4MTWVMnqkmcuFez8x5qfxr" crossorigin="anonymous"></script>
{% endblock %}
