.book-slider img {
    width: 140px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.book-item {
    text-align: center;
}

.book-image {
    width: 100%; /* Đảm bảo hình ảnh không vượt quá chiều rộng của container */
    height: auto;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin: 0 auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Màn hình có chiều rộng dưới 600px */
@media (max-width: 600px) {
    book-image {
        width: 100%; /* Giữ hình ảnh phóng to ra chiều rộng tối đa trên màn hình nhỏ */
    }
}

/* Màn hình có chiều rộng từ 601px đến 900px */
@media (min-width: 601px) and (max-width: 900px) {
    book-image {
        width: 80%; /* Giảm kích thước hình ảnh xuống trên các màn hình vừa */
    }
}

/* Màn hình có chiều rộng lớn hơn 900px */
@media (min-width: 901px) {
    book-image {
        width: 50%; /* Giảm kích thước hình ảnh xuống trên các màn hình lớn */
    }
}

.book-image:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.slick-next {
    background-color: transparent !important;
    padding-right: 60px;
    height: 30px;
    width: 30px;
    color: rgb(184, 206, 212);
}

.slick-prev {
    padding-left: 50px;
}

.slick-prev:before, .slick-next:before {
    height: 30px !important;
    width: 30px !important;
    font-family: 'slick' !important;
    font-size: 20px !important;
    line-height: 1 !important;
    opacity: .75 !important;
    color: rgb(184, 206, 212) !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale;
}

.book-slider {
    background-color: #f3ecd7;
    display: flex;
    gap: 20px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: -12px;
    margin-right: -12px;
    border: 1px solid #e6e0cb;
    border-right: 0;
    border-left: 0;
}

.book-item {
    padding-right: 30px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.book-item h5 {
    padding-top: 0;
    margin-top: 10px;
    font-size: 0.8rem;
    color: #333;
}